header {
    padding: 50px 40px 10px;
    ul {
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: 15px;
            width: 50%;
            margin: 0 auto;
            .line {
                width: 15%;
                height: 1px;
                border-bottom: 1px solid #ababab;
            }
            h1 {
                font-size: 20px;
                padding: 0 20px;
            }
        }
    }
    
}

@media(max-width: 768px) {
    header {
        ul {
            li {
                width: 100%;
                h1 {
                    font-size: 14px;
                }
            }
        }
    }
}
